*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-background: rgb(239, 236, 236);
    --white-background: #FFF;
    --light-blue-color: rgb(157, 189, 255);
    --light-orange-color: rgb(255, 215, 196);
}
body{
    
    background-color: var(--gray-background);
    min-height: 100vh;
}

.app-container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 2rem;
}

