:root{
    --gray-background: #eaecf2;
    --white-background: #FFF;
    --gray-box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
    --dark-pink-color: rgb(217, 22, 86);
    --purple-color: rgb(100, 13, 95);
}

.cv-container{
    display: flex;
    flex-flow: column wrap;
    width: 55rem;
    height: 50rem;
    box-shadow: var(--gray-box-shadow);
    border-radius: .5rem;
    background-color: var(--white-background);
}

.full-name{
    align-self: center;
    color: var(--purple-color);
}

.cv-personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

h4{
    padding-left: 1.3rem;
    color: var(--purple-color);
}

hr{
    border: 1px solid var(--dark-pink-color);
    margin: .2rem 1rem;
}

.personal-details{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}


.form-edu-info{
    margin: .6rem 1rem 3rem 3rem;
    
}

.form-pro-info{
    margin: .6rem 1rem 3rem 3rem;
}
